# The Ignore List File for the NodeJsAuthenticationSystem

# Note -
# 1. Ignore the data files.
# 2. Ignore the uploaded media files which are created during tests.
# 3. Ignore the npm data files and folders like node_modules/, which can be restored using the package.json file anytime ;-).

# Ignoring the npm data and other nodejs cache
node_modules/
package-lock.json
tests/

# Ignoring the data files (JSON files) which just consume space that isnt needed for a commit
data.json
contactRequests.json

# The media files are to be ignored as they just consume space that are not neccessary
media/html/
media/css/
media/js/