<!-- The 404 error page of the web application -->

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Linking the HTML doc with the Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>404 Not Found - Anonymous HTML Hoster</title>
</head>
<body>
	<!-- The body section of the file -->

	<!-- The header (navbar) -->
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h1">Anonymous HTML Hoster</span>
		</div>
	</nav>

	<div class="container my-2">
		<h1>404 - Not Found</h1>
	</div>
</body>

<!-- Linking the HTML doc with the Bootstrap required JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- The custom JS for this page -->
<script type="text/javascript" src="/js/indexpage.js"></script>
</html>
